*{
    margin: auto;
    padding: auto;

}
body{
    background: #333;
    padding-top: 5em;
    display: flex;
    justify-content: center;
    padding-bottom: 5em;
}

.glavnicont{
    width: 1500px;
    height: 300vh;
    background: beige;
    

}

.odsek1{
    width: 1500px;
    height: 600px;
}

.uvod{
    width: 1500px;
    height: 650px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: block;
    float: left;
    text-transform: uppercase;
    font-family: fantasy;
}


.slika {
    width: 1500px;
    height: 650px;
}

.slika img{
    width: 1500px;
    height: 650px;
}

.slikacover{
    width: 350px;
    height: 300px;
    text-align: center;
    text-shadow: gray;
    font-size: 50px;
    position: absolute;
    display: block;
    bottom: 19%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.slikacover img{
    width: 350px;
    height: 300px;
    text-align: center;
    position: absolute;
    display: block;
    top: 19%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: gray;
    font-size: 50px;
}


.naslov{
    width: 750px;
    height: 300px;
    text-align: center;
    position: absolute;
    display: block;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: gray;
    font-size: 60px;
    letter-spacing: 1.6%;
    float: left;
    color: white;

}
h1{
    animation: color-change 15s infinite;
}



.menu{
    width: 1500px;
    height: 130px;
    float: left;
    color: white;
}

.button {
    position: relative;
    border: none;
    font-size: 27px;
    color: rgb(255, 255, 255);
    height: 130px;
    width: 375px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration:rgb(0, 0, 0);
    overflow: hidden;
    cursor: pointer;
    line-height: 100px;
    float: left;
    background-color: black;
}
  
  .button:after {
    height: 60px;
    background-color: black;
    content: "";
    background: #ca5526;
    display: block;
    position: absolute;
    padding-top: 100px;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
  }

  h2{
    -webkit-animation: color-change 3s infinite;
    -moz-animation: color-change 3s infinite;
    -o-animation: color-change 3s infinite;
    -ms-animation: color-change 3s infinite;
    animation: color-change 3s infinite;
}


.info{
    width: 1500px;
    height: 300px;
    float: left;
    background-color: brown;
}

.naslov1{
    width: 1500px;
    height: 300px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: orange;
    letter-spacing: 1.6px;
    font-size: 180%;
    font-weight: bolder;
    line-height: 50px;
    top: 30%;
    position: relative;
    
}

a:hover{
    color: rgb(255, 255, 255);

}

a:link{
    color: rgb(255, 255, 255);
}

a:active{
    color: rgb(255, 255, 255);
    
}

a:visited{
    color: white;
}

